<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="/dashboard.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="/static/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="/static/assets/images/logo-dark.png" alt="" height="17">
            </span>
        </a>

        <a href="/dashboard.html" class="logo logo-light">
            <span class="logo-sm">
                <img src="/static/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="/static/assets/images/logo-light.png" alt="" height="17">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Dashboards</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarDashboards">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="/dashboard.html" class="nav-link" data-key="t-analytics"> Overview </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarScanner" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarScanner">
                        <i class="ri-scan-2-line"></i> <span data-key="t-scanner">Scanner</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarScanner">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="/scans.html" class="nav-link" data-key="t-scans"> Scans & Targets </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarLabs" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLabs">
                        <i class="ri-flask-line"></i> <span data-key="t-labs">Labs</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarLabs">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="/lab.html" class="nav-link" data-key="t-lab"> Lab Mode </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarTools" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarTools">
                        <i class="ri-tools-line"></i> <span data-key="t-tools">Info Gathering</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarTools">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="/tools.html" class="nav-link" data-key="t-tools-run"> Run Tools </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarDatabase" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDatabase">
                        <i class="ri-database-2-line"></i> <span data-key="t-database">Database</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarDatabase">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="/db_playground.html" class="nav-link" data-key="t-db-playground"> DB Playground </a>
                            </li>
                        </ul>
                    </div>
                </li>


                <li class="menu-title mt-2"><i class="ri-more-fill"></i> <span data-key="t-pages">System</span></li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarSettings" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSettings">
                        <i class="ri-user-settings-line"></i> <span data-key="t-settings">Settings</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarSettings">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-profile"> Profile </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>
